/* *
{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body{
  height: 100%}


  body{
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;}













  .lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;}
  
.line{
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;}

 &::after}
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);}
  
  &:nth-child(1){
    margin-left: -25%;
    &::after
      animation-delay: 2s;}
  
  &:nth-child(3){
    margin-left: 25%;
    &::after
      animation-delay: 2.5s}
  
    
@keyframes drop 0%
    top: -50%;
  100%
    top: 110%

 */


 body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}













body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider
{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slides
{
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input
{
	display: none;
	
}
.slide
{
 width: 20%;
 transition: 8s;
}

.slide video{
	width: 800px;
	
	border-radius: 10px;
}
.slide img{
	position: center;
	width: 500px;
	border-radius: 10px;
}


.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}
.manual-btn{
	border: 2px solid red;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
	background: yellow ;
}

/*-------------------------------------------------*/
#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}
/*-------------------------------------------------*/

